*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: burlywood;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
footer{
    background-color: burlywood;
    padding: 30px 20px;
}
#about{
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 20px;
}
#articles{
    background-color: rgb(182, 182, 182);
    text-align: center;
    padding: 20px 20px;
}
p{
    text-align: justify;
    padding: 10px
}
h2{
    text-align: center;
}